<div class="container">
    <h1>
        Welcome to {{ title }}!
    </h1>
    <div class="card">
        <div class="card-header h4">{{currentWidget.toUpperCase()}}</div>
        <div class="card-body">
            <div #widgetHost>
    
            </div>
        </div>
    </div>
    
    <div class="row mt-3">
        <div class="col-6">
            <button class="btn btn-primary btn-block" (click)="loadComponent('dropdown')">Load dropdown Component</button>
        </div>
        <div class="col-6">
            <button class="btn btn-primary btn-block" (click)="loadComponent('list')">Load List Component</button>
        </div>
    </div>

    <div>
      <h2>Grid</h2>
      <frl-grid [data]="gridData">
        <frl-grid-column [boundProperty]="'col1'" [title]="'I am column 1'"></frl-grid-column>
        <frl-grid-column [boundProperty]="'col2'" [title]="'I am column 2'"></frl-grid-column>
        <frl-grid-column [boundProperty]="'col3'" [title]="'I am column 3'"></frl-grid-column>
      </frl-grid>
    </div>
</div>