// PALETTE:
// TITLEBAR
// TOP LEFT #367fa9
// MAIN #3c8dbc

// LEFT MENU BG: #1e282c
// LEFT MENU HOVER: #2c3b41
// LEFT MENU ACCENT: #3c8dbc

// BG:#ecf0f5
// TEXT: #212529

$primary: #367fa9;
$secondary: #3c8dbc;

$grey1: #212529;
$gray2: #1e282c;
$gray3: #2c3b41;
$gray4: #ecf0f5;
